<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" href="/static/style.css"/>
    </head>
    <body>
        <h1>Midterm Belen Login</h1>
        <form>
            <label for="usernamefield">Username:</label>
            <input type="text" id="usernamefield" name="usernamefield"><br>
            <label for="usernamefield">Password:</label>
            <input type="text" id="usernamefield" name="usernamefield"><br>
        </form>
        <button>
            Login
        </button><br>
        <button>
            Register
        </button>
    </body>
</html>